@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1900 Commerce St, <br />
    Tacoma, WA 98402-6399<br />
    <abbr title="Phone">P:</abbr>
    206.778.4242
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:busap@uw.edu">Busap@uw.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:Chanberna12@gmail.com">Chanbern12@gmail.com</a>
</address>